<h1><%= markdown @topic.name %></h1>

<% if can? :update, @topic %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-primary btn-mini' %>
<% end %>

<div class="row">
  <div class="span8">
    <p class="lead"><%= @topic.description %></p>
    <%= render 'posts/post' %>
    <hr>
    <%= will_paginate @posts %>