<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin formcontainer'}) do |f| %>
	<h2 class="form-signin-heading">Please sign in</h2>
  	<div>
  		<%= f.label :email %><br />
  		<%= f.email_field :email, class: "form-control", :autofocus => true %>
  	</div>

  	<div>
  		<%= f.label :password %><br />
  		<%= f.password_field :password, class: "form-control" %>
  	</div>

  	<% if devise_mapping.rememberable? -%>
    	<div>
    		<%= f.check_box :remember_me, class: "checkbox" %> <%= f.label :remember_me %>
    	</div>
  	
  	<% end -%>

  	<div>
  		<%= f.submit "Sign in", class: "jbtn blumo btn-block" %>
  	</div>

	<% end %>

 	<%= render "devise/shared/links" %>
