<ul class="nav nav-tabs">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", about_path %></li>
</ul>
<ul class="profile">
  <div class="pull-right user-info">
    <% if current_user %>
    <%= render partial: 'layouts/avatar' %>
    Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign In", new_user_session_path %> or 
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</ul>